/* CSS declarations go here */
body {
	margin: 0;
	padding: 0;
	background: #FBFFF9;
	font: 11px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #555;
	text-align: center;
}

h2{font: italic 28px Georgia, Times, serif;}

.close-x {
	position: relative;
	right: 7px;
	float: right;
	top: 5px;
	color: #D6C339;
	cursor:pointer;
	text-shadow: 0px -1px 0px #FFFA7C;
}
.sticky form {
	width: 296px;
	height: 316px;
	margin: 0px;
	padding: 0;
	background: #FFEF4D url(sticky.gif) no-repeat;
	text-align: center;
	-moz-box-shadow:    0px 3px 6px -1px #E0E3DD;
	-webkit-box-shadow: 0px 3px 6px -1px #E0E3DD;
	box-shadow:         0px 3px 6px -1px #E0E3DD;
}

textarea, .insert {
	width: 250px;
	height: 108px;
	margin: 90px 23px 50px;
	padding: 0;
	border: 0;
	overflow: hidden;
	background: transparent;
	font: italic 28px Georgia, Times, serif;
	line-height: 36px;
	letter-spacing: -1px;
	text-align: center;
	outline-style: none;
	resize: none;
	white-space: pre;
}

.stickies {
	margin: 50px auto 80px;
	overflow: hidden;
	width: 910px;
}
.sticky, .insert {
	float: left;
	margin: 0px 5px 5px 0px;
}
.insert {
	border: 3px dotted #EAEFF3;
	width: 244px;
	height: 108px;
	overflow: hidden;
	padding: 90px 23px 112px;
	border-radius: 20px;
	cursor: pointer;
	white-space: normal;
}
.sticky span {
	font: italic 12px Georgia, Times, serif;
	position: relative;
	bottom: 20px;
	text-align: right;
	float: right;
	margin-right: 10px;
	color: #D6C339;
}

#author-info .nice-label {
	left: 595px;
	top: 106px;
	color: #D2D2D2;
}

#author-info .glowRed {
	border:1px solid #fafafa;
	-webkit-box-shadow:0 0 6px #CF2323;
	-moz-box-shadow:0 0 5px #CF2323;
	box-shadow:0 0 5px #CF2323;
}

/* nice styles - FORMS */
.nice-text {
	border: solid 1px #EEE;
	border-radius: 4px;
	height: 25px;
	min-width: 230px;
	position: relative;
}

.nice-label {
	font: italic 18px Georgia, Times, serif;
	position: absolute;
	z-index: 2;
}